.filter {
  position: relative;
  display: inline-block;
}

.filter-button {
  color: teal;
  font-size: large;
  cursor: pointer;
  padding: 0.25rem 1rem;
  user-select: none;
}

.filter-button__icon {
  margin-right: 0.5rem;
}

.filter-button__text {
  font-size: 20px;
}

.filter-list__wrapper {
  z-index: 4;
  display: none;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.5);
  content: "";
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 1rem;
}

.filter.open .filter-list__wrapper {
  display: block;
}

.filter-list {
  width: 100%;
  background-color: #272b30;
  border: 1px solid #4d5060;
  box-shadow: 0 0 5px 0 black;
  padding: 1rem;
}

.filter-list__header {
  border-bottom: 1px solid #777;
  font-size: larger;
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
}

.filter-list__header-close {
  font-size: x-large;
  margin-left: auto;
  cursor: pointer;
  color: #777;
}

.filter.open .filter-list__wrapper {
  display: flex;
}

.filter-option {
  display: block;
  margin-right: 1rem;
}

.filter-option__label {
  margin-bottom: 0;
  user-select: none;
  white-space: nowrap;
}

.filter-option__input {
  margin-right: 0.5rem;
}

@media (min-width: 500px) {
  .filter-list {
    position: absolute;
    width: auto;
    left: 50%;
    transform: translateX(-50%);
    padding: 1rem 2rem;
  }

  .filter-list__body {
    display: flex;
  }
}
