.datapad-card {
  margin: 0.25rem;
  border: 1px solid #434343;
  background-color: #242424;
  border-radius: 2px;
}

.datapad-card__header {
  display: flex;
  border-bottom: 1px solid #434343;
  width: 100%;
  padding: 0.5rem;
}

.datapad-card__header.legendary {
  background-image: url("../../../images/legendary.png");
  background-repeat: no-repeat;
  background-size: 90px 90px;
  background-position: -20px -20px;
}

.datapad-card__title {
  margin-right: auto;
}

.datapad-card__title-text {
  font-size: 125%;
  font-weight: bold;
}

.datapad-card__title-icon {
  margin-left: 0.5rem;
  font-size: 85%;
  vertical-align: baseline;
  color: #62c462;
}

.datapad-card__level {
  font-size: 85%;
}

.datapad-card__link {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  text-align: right;
  cursor: pointer;
}

.datapad-card__link svg {
  font-size: 150%;
  vertical-align: top;
}

.datapad-card__location {
  padding: 0.5rem;
}
