html,
body,
#root,
.App {
  height: 100%;
}

.App {
  display: flex;
  flex-direction: column;
}

.app__body {
  margin-bottom: auto;
}

.nav-tabs .nav-link {
  cursor: pointer;
}

.game {
  display: block;
}

.game__navbar {
  font-size: 130%;
  margin-bottom: 1rem;
}

.game__navbar-list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
}

.game__navbar-list::after {
  content: "";
  flex-grow: 1;
  border-bottom: 1px solid lightgray;
}

.game__navbar-list-item {
  white-space: nowrap;
  display: inline-block;
  border: 1px solid slategray;
  border-bottom-color: lightgray;
  border-radius: 7px 7px 0 0;
  padding: 0.1rem 0.24rem;
}

.game__navbar-list-item.active {
  border-bottom: none;
  border-color: lightgray;
}

.game__navbar-list-item > button {
  border: none;
  color: #999;
  background: none;
  padding: 0.5rem;
  border-radius: 3px;
  text-decoration: none;
  display: flex;
  align-items: center;
  outline: none !important;
}

.game__navbar-list-item.active > button {
  color: #fff;
}

.game__navbar-list-item > button > svg {
  margin-right: 0.5rem;
}

.game__sections {
  width: 100%;
  display: block;
}

.game__section {
  display: none;
}

.game__section.active {
  display: block;
}

@media (max-width: 500px) {
  .game__navbar-list::after {
    content: "";
    display: none;
  }

  .game__navbar-list-item {
    white-space: nowrap;
    display: inline-block;
    border: 1px solid slategray;
    border-radius: 3px;
    margin: 0 0.5rem 0.5rem 0;
  }

  .game__navbar-list-item.active {
    border: 1px solid slategray;
  }
}
